{% extends 'base.html' %}

{% block title %}
    Commander
{% endblock %}
  
{% block content %}
    <!-- Container for Command Form and Preview -->
    <div class="container">
        <div class="row">
            <!-- Command Message Dynamic Form -->
            <div class="col-md-7">
                <form method="post" id="commandForm" action="/send_command">
                    {{ form.hidden_tag() }}

                    <div class="row">
                        {% for field in form %}
                            {% if field.name != 'subtype' and field.name != 'csrf_token' and field.type != 'HiddenField' %}
                                <div class="col-md-4">
                                    <label for="{{ field.id }}" class="form-label">{{ field.label }}</label>
                                    <!-- {{ field(class="form-control form-control-sm") }} -->
                                    {{ field }}
                                    {% if field.errors %}
                                        <span style="color: red;">{{ ', '.join(field.errors) }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="{{ form.subtype.id }}" class="form-label">{{ form.subtype.label }}</label>
                            {{ form.subtype(class="form-select form-select-sm") }}
                            {% if form.subtype.errors %}
                                <span style="color: red;">{{ ', '.join(form.subtype.errors) }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-2" id="additionalFieldsContainer">
                            <!-- Container to load additional fields dynamically -->
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Command Message JSON Preview -->
            <div class="col-md-5">
                <div class="card">
                    <h3 class="card-header">Command Message</h3>
                    <div id="commandMessage" class="card-body"></div>
                    <div id="commandMessageHex" class="card-footer text-body-secondary"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div>
            <div class="col-md-12 card">
                <h3 class="card-header">Command Response</h3>
                <div id="response" class="card-body"></div>
                <div id="responseHex" class="card-footer text-body-secondary"></div>
            </div>
        </div>
    </div>

{% endblock %}